{{!-- {
"status": "success",
"payload": [
{
"id": 1,
"title": "Sports",
"blog_content": "Hockey is the best team sport by far!",
"user_id": 1,
"createdAt": "2023-11-11T21:14:20.000Z",
"updatedAt": "2023-11-11T21:14:20.000Z",
"Comments": [
{
"id": 1,
"comment_content": "You're totally right, hockey rules!",
"user_id": 1,
"blog_id": 1,
"createdAt": "2023-11-11T21:14:25.000Z",
"updatedAt": "2023-11-11T21:14:25.000Z"
}
]
}
]
} --}}

<div class="card">
	<h3 class="card-header">{{data.title}}</h3>
	<div class="card-body">
		<div class="card-title">
			Posted by: {{data.User.username}} {{format_time data.createdAt}}
		</div>
		<p class="card-body">
			{{data.blog_content}}
		</p>
	</div>
</div>
{{#each data.Comments as |comment|}}
<div class="card">
	<div class="card-body">
		{{comment.comment_content}}
	</div>
	<div class="card-body"></div>
	- by {{comment.User.username}} on {{format_time comment.createdAt}}
</div>
</div>
{{/each}}
<div class="card">
	<form id="create-comment-form" blog_id="{{data.id}}">
		<textarea id="commentField" class="form-control" rows="3" placeholder="Leave a comment..."></textarea>
		<input type="submit">
	</form>
</div>

<script src="/js/newComment.js"></script>
