{{!-- Display Blog --}}
<div class="card">
	<h3 class="card-header">{{data.title}}</h3>
	<div class="card-body">
		<div class="card-title">
			Posted by: {{data.User.username}} {{format_time data.createdAt}}
		</div>
		<p class="card-body">
			{{data.blog_content}}
		</p>
	</div>
</div>

{{!-- Display comments --}}
{{#each data.Comments as |comment|}}
<div class="card">
	<div class="card-body commentA">
		{{comment.comment_content}}
	</div>
	<div class="card-body commentB">
	By: {{comment.User.username}}
	</div>
		<div class="card-body commentC">
	{{format_time comment.createdAt}}
	</div>
</div>
{{/each}}

{{!-- Display add comment functionality OR notice to login --}}
{{#if loggedIn}}
<div class="card removeBorder"> 
	<form id="create-comment-form" class="commentForm" blog_id="{{data.id}}">
		<textarea id="commentField" class="form-control" rows="3" placeholder="Leave a comment..."></textarea>
		<input class="btn submitBtn" type="submit">
	</form>
</div>
{{else}}
<div>
	<p id="loginNotice"><a href="/login-signup" class="loginlink">Login</a> to leave a comment!</p>
</div>
{{/if}}

<script src="/js/newComment.js"></script>
